name: Test Connection to Security and Compliance Center
on: [push]

jobs:
  # This workflow contains a single job called df
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will bert of t
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job caess it
    - uses: actions/checkout@v2
    - name: Test Connection to SC  
      shell : powershell  
      env:
        PUBLIC_USERNAME: ${{ secrets.PUBLIC_USERNAME }} 
        PUBLIC_PASSWORD: ${{ secrets.PUBLIC_PASSWORD }} 
      run: |
       $VerbosePreference = 'Continue'
       Install-Module ExchangeOnlineManagement -Force
       Import-Module ExchangeOnlineManagement -Force
       $GlobalAdminPassword = ConvertTo-SecureString $env:PUBLIC_PASSWORD -AsPlainText -Force
       $GlobalAdminAccount = New-Object System.Management.Automation.PSCredential ($env:PUBLIC_USERNAME, $GlobalAdminPassword)
       Install-Module MSCloudLoginAssistantPreview -Force
       Import-Module MSCloudLoginAssistantPreview
       Write-Verbose -Message "Trying to connect to SC "
       Write-Verbose -Message $env:PUBLIC_USERNAME
       Test-MSCloudLogin -Platform SecurityComplianceCenter -CloudCredential $GlobalAdminAccount -Verbose
       Write-Verbose -Message "Connected to SC"
       #Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $GlobalAdminAccount -Path "." -FileName 'ExtractedSPO.ps1' -Workload 'SC' -Verbose
