name: Test Connection to Security and Compliance Center
on: [push]

jobs:
  # This workflow contains a single job called dfsdfsdd
  build:
    # The type of runner that the job will run ondfddd
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will ert okf t
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your jokkb caess itd
    - uses: actions/checkout@v2
    - name: Install Modules 
      shell: powershell
      env:
        PUBLIC_USERNAME: ${{ secrets.PUBLIC_USERNAME }} 
        PUBLIC_PASSWORD: ${{ secrets.PUBLIC_PASSWORD }} 
      run: |
       [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12
       Set-ExecutionPolicy Unrestricted -Force    
       Install-Module Az.Accounts -Force -RequiredVersion 1.7.4
       Import-Module Az.Accounts -Force   
       Install-Module ExchangeOnlineManagement -Force
       Import-Module ExchangeOnlineManagement -Force   
       $modules = Get-Module
       $VerbosePreference = 'Continue'
       foreach ($module in $modules)
       {
           Write-Verbose -Message "Name = $($module.Name); Version = $($module.Version);"
       } 
       $GlobalAdminPassword = ConvertTo-SecureString $env:PUBLIC_PASSWORD -AsPlainText -Force
       $GlobalAdminAccount = New-Object System.Management.Automation.PSCredential ($env:PUBLIC_USERNAME, $GlobalAdminPassword)
       Connect-AzAccount -Credential $GlobalAdminAccount -Environment 'AzureCloud' -SkipContextPopulation -ErrorAction Stop
       $assembly = [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext].Assembly
       Write-Verbose -Message "ASSEMBLY: $($assembly.Location) VERSION: $($assembly.Version)" 
       Connect-IPPSSession -Credential $GlobalAdminAccount
