name: Test Connection to Security and Compliance Center
on: [push]

jobs:
  # This workflow contains a single job called dfsdfsdd
  build:
    # The type of runner that the job will run ondfddd
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will ert okf t
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your jokkb caess itd
    - uses: actions/checkout@v2
    - name: Install Modules 
      shell: powershell
      run: |
       git clone https://github.com/PowerShell/DscResource.Tests
