name: Test Connection to Security and Compliance Center
on: [push]

jobs:
  # This workflow contains a single job called dfsdfsdd
  build:
    # The type of runner that the job will run ondfddd
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will ert ovkf t
    steps:
    - uses: actions/checkout@v2
    - name: Install Modules 
      shell: powershell
      run: |
       git clone https://github.com/PowerShell/DscResource.Tests
       npm --silent install
       Import-Module -Name "./DscResource.Tests/AppVeyor.psm1"
       Invoke-AppveyorInstallTask
       $dir = dir |out-String
       $InformationPreference = 'Continue'
       Write-Information $dir
       Write-Information "Here"
       Invoke-AppveyorTestScriptTask `
            -Type 'Harness' `
            -MainModulePath "Modules\Microsoft365DSC" `
            -CodeCovIo
