name: Test Connection to Security and Compliance Center
on: [push]

jobs:
  # This workflow contains a single job called dfsdfsdd
  build:
    # The type of runner that the job will run ondfddd
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will ert okf t
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your jokkb caess itd
    - uses: actions/checkout@v2
    - name: Install Modules 
      shell: powershell
      run: |
       [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12
       Set-ExecutionPolicy Unrestricted -Force
       Install-Module ExchangeOnlineManagement -Force
       Import-Module ExchangeOnlineManagement -Force       
       Install-Module MSCloudLoginAssistantPreview -Force
       Import-Module MSCloudLoginAssistantPreview
    - name: Test Connect - PSCredential
      shell: powershell
      env:
        PUBLIC_USERNAME: ${{ secrets.PUBLIC_USERNAME }} 
        PUBLIC_PASSWORD: ${{ secrets.PUBLIC_PASSWORD }} 
      run: |
       $GlobalAdminPassword = ConvertTo-SecureString $env:PUBLIC_PASSWORD -AsPlainText -Force
       $GlobalAdminAccount = New-Object System.Management.Automation.PSCredential ($env:PUBLIC_USERNAME, $GlobalAdminPassword)
       Test-MSCloudLogin -Platform SecurityComplianceCenter -CloudCredential $GlobalAdminAccount -Verbose
