name: Test Connection to Security and Compliance Center
on: [push]

jobs:
  # This workflow contains a single job called dfsdfs
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will ert of t
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job caess it
    - name: Test Connection to SC  
      shell : powershell  
      env:
        PUBLIC_USERNAME: ${{ secrets.PUBLIC_USERNAME }} 
        PUBLIC_PASSWORD: ${{ secrets.PUBLIC_PASSWORD }} 
      run: |
       $VerbosePreference = 'Continue'
       Install-Module ExchangeOnlineManagement -Force
       Import-Module ExchangeOnlineManagement -Force
       $GlobalAdminPassword = ConvertTo-SecureString "${{ secrets.PUBLIC_PASSWORD }}"  -AsPlainText -Force
       $GlobalAdminAccount = New-Object System.Management.Automation.PSCredential ("${{ secrets.PUBLIC_USERNAME }}", $GlobalAdminPassword)
       Install-Module MSCloudLoginAssistantPreview -Force
       Import-Module MSCloudLoginAssistantPreview
       Write-Verbose -Message "Trying to connect to SC "
       Write-Verbose -Message "${{ secrets.PUBLIC_USERNAME }}"
       Test-MSCloudLogin -Platform SecurityComplianceCenter -CloudCredential $GlobalAdminAccount -Verbose
       Write-Verbose -Message "Connected to SC"
       #Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $GlobalAdminAccount -Path "." -FileName 'ExtractedSPO.ps1' -Workload 'SC' -Verbose
